/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@200;300;400;500;600;700&display=swap');
 
/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
 
/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: #3a3a3a;
    font-family: 'Lato', sans-serif;
    background-color: #fafafa;
}
 
#logo > h1 {

    /* background-image: linear-gradient(281deg,#420be6,#a16bb3); */
   
}

 
h1, h2, h3 {
    font-family: 'Oswald', sans-serif;
    text-transform: none;
    letter-spacing: 2px;
    color:#4a0b8683;
    
    
}
 
.hidden-heading {
    display: none;
}
.no-display {
    visibility: hidden;
 
}
 
/* Header */
header {
    background-color: #ffffff;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    /*
    box-shadow: 0 2px 2px #c00404;
    */
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
 
header a {
    text-decoration: none;
    color: inherit;
}

/*-------------------- menu ------------------*/
 
#menu {
    font-size: 110%;
    letter-spacing: 0px;
    list-style-type: none;
}

#menu > li {

    margin-bottom: 2em; 
   display: inline-block;
}

li {

    margin-bottom: 10px;
}
 
/*-------- List in header ------------*/
/*-------- Who we are ------------*/
#wwa:hover{

    background-color:rgba(242, 255, 127, 0.51);
    transition: 1.5s;
    filter: blur(0.5px); 
}

#wwa{

    margin-right: 20px;  
 }

/*-------- What we do ------------*/
#wwd:hover{

    background-color:rgba(251, 158, 248, 0.51);
    transition: 1.5s;
    filter: blur(0.5px);
}

#wwd{

    margin-right: 20px;   
 }
 
/*-------- News ------------*/
#news:hover{

    background-color:rgba(127, 255, 246, 0.51);
    transition: 1.5s;
    filter: blur(0.5px);
}

#news{

    margin-right: 20px;  
 }


/*-------- Inspiration ------------*/
#inspo:hover{

    background-color:rgba(255, 127, 127, 0.51);
    transition: 1.5s;
    filter: blur(0.5px);
}

#inspo{

    margin-right: 20px;  
 }

/*-------- Play button------------*/
#play:hover{ transform:perspective(4)}

#play{

    background-image: linear-gradient(281deg,#420be6,#a16bb3);
    box-shadow: 0 10px 30px 0 #cd39a14d;
    border-radius: 4px;
    color:#ffffff;
    padding: 2.5px;
}

/*----------------------------- Navbar styles with dropdown toggle---------------- */
nav {

    position: absolute;
    background-color: #ffffff;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    display: none;
    top: 100%;
}
 
/* ---------------------- Nav toggle -----------------*/
#nav-toggle:checked~nav {

    display: block;
}
 
#nav-toggle {

    display: none;
}
 
.nav-toggle-label {

    font-size: 2rem;
    text-align: center;
}
 
/*---------------------- Main content ----------------------------*/
main {

    /* Enlarge main element to push footer down*/
    flex: 1 0 auto;
    /* Add margin at the top to prevent content from being covered by the header */
    margin-top: 47px;
    /* Enable flex properties for child elements */
    display: flex;
    flex-direction: column;
}
 
/* ------------------------- Hero section -------------------- */
#hero {

    height: 600px;
    width: 100%;
    background: url("../images/Color_icon_white.svg.png") no-repeat center center/cover;
    position: relative;
    z-index: -1
}
 
/* --------------- wrapped imaged ------------------------ */ 

#mask-image {

    text-align: center;
    width: auto;
    font-size: 66px;
    line-height: 80px;
    font-weight: 800px;
    /* text-transform: uppercase; */
    background: url(../images/chief.png) 0 0 / cover no-repeat;
    color: #de466c;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
 }


#alice-image {

    text-align: center;
    width: auto;
    font-size: 66px;
    line-height: 80px;
    font-weight: 800px;
    text-transform: uppercase;
    background: url(../images/alice.jpeg) 0 0 / cover no-repeat;
    color: #de466c;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 1rem;
 }

 /*---------------- annimatied balls -------------------*/

 /*----------------  ball 1 -------------------*/
 
@keyframes dizzy-ball {

    0%   {background-color:rgba(255, 0, 0, 0.501); left:0px; top:0px;}
    25%  {background-color:rgba(255, 255, 0, 0.503); left:80%; top:0px; border-radius: 10px 100px;}
    50%  {background-color:rgba(0, 0, 255, 0.501); left:50%; top:100%;} 
    75%  {background-color:rgba(0, 128, 0, 0.504); left:8%; top:80%; border-radius: 45%;}
    100% {background-color:rgba(255, 0, 0, 0.502); left:0px; top:0%;}
  }
 
#dizzy_ball  {

    /* Final rgba value sets the opacity so it is semi-transparent */
    background-color: rgba(241, 237, 107, 0.2);
    left: 80%;
    border-radius: 50%;
    height: 10vw;
    width: 10vw;
    position: relative;
    animation: dizzy-ball 30s infinite; 
     animation-direction: alternate-reverse; 
}

 /*----------------  ball 2 -------------------*/

#dizzy_ball_2 {animation-timing-function: ease;

}

#dizzy_ball_2  {

    background-color: rgba(241, 237, 107, 0.2);
    left: 80%;
    border-radius: 50%;
    height: 10vw;
    width: 10vw;
    position: relative;
    animation: dizzy_ball_2 30s infinite; 
    animation-direction: normal; 
}

@keyframes dizzy_ball_2 {

    0%   {background-color:rgba(255, 0, 0, 0.501); left:0px; top:0px;}
    20%  {background-color:rgba(255, 255, 0, 0.503); left:80%; top:0px; border-radius: 20%;}
    60%  {background-color:rgba(255, 123, 0, 0.501); left:50%; top:100%;} 
    80%  {background-color:rgba(0, 128, 0, 0.504); left:8%; top:80%; border-radius: 45%;}
    100% {background-color:rgba(255, 0, 0, 0.502); left:0px; top:0%;}
  }
 
/*-------------------Team section---------------------------------*/
 
.team_container {

    display: flex;
    flex-direction: column;
    align-items: space-between;
    justify-content: center;
}

.team_item {

    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    padding: 2rem;
    padding-bottom: 0.5rem;
    width: 100%;
}

.team_item > img {

    height: 150px;
    border-radius: 50%;
    padding-bottom: 20px;
}

.team_item > h4 {

    padding-bottom: 20px;

}
.team_item > p {

    text-align: justify;
}

/*-------------------- Project section --------------------------*/
.project_container {

    display: flex;
    flex-direction: column; 
    align-items: space-between; 
    background-color: #f6a4fa1e;
<<<<<<< HEAD
    padding-bottom: 20px;
=======
    padding-bottom: 10px;
   
>>>>>>> d4fbdfba3785c028c79aaeed07db22edf361f8fc
}
   
.project_item {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    width: 100%;
 
}
.project_item > video {

    height: 100%;
    width: 100%;
    padding: 20px;
    /* padding-bottom: 0; */
    /* margin-bottom:  10px; */
    border-radius: 40px;  
}

<<<<<<< HEAD
/* .project_item > p {

    padding: 20px;
}

#vid-text {

    margin-top: 10px;
    
} */
=======
>>>>>>> d4fbdfba3785c028c79aaeed07db22edf361f8fc

/*--------------- Gallery section -------------------*/
#photos img {

    width: 100%;
    line-height: 1em;
}

#photos {

    line-height: 0;
    margin-top: 20px;
}

/*--------- Form Section ---------------*/

#form {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    padding: 2rem;
    padding-bottom: 0.5rem; 
    background-color: #420be6;
}

#form > form {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
}

.form_container {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f6a4fa1e;
    padding-top: 20px;
    padding-bottom: 20px;
}
 
input[type=text], select {

    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
  }

  input[type=email], select {

    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type=submit] {

    /* width: 100%; */
    background-image: linear-gradient(281deg,#420be6,#a16bb3);
    box-shadow: 0 10px 30px 0 #cd39a14d;
    border-radius: 24px;
    height: 48px;
    min-width: 204px;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
  }

  
  div #form {

    border-radius: 5px;
    background-color: #f6a4fa1e;
    padding: 20px;
    max-width: 300px;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
  }

 /* ---------- Footer --------*/




footer{
<<<<<<< HEAD
    height: 50px;
    margin-top: 50px;
=======
    height: 60px;
    margin-top: 10px;
    text-align: center;
>>>>>>> d4fbdfba3785c028c79aaeed07db22edf361f8fc
    
}


/*----------- Screen sizes and changes in performance ----------*/
 
/* Media query: large or landscape phones (600px and up) */
@media screen and (min-width: 600px) {
   
    .team_container {
        display: flex;
        flex-direction: row;
        align-items: space-between;
        justify-content: center;
    }


    .project_container {
        display: flex;
        flex-direction: row;
        align-items: space-between;
        justify-content: center;
     
    }

 .list_item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; 
 }

#wwa #mu #git {

    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

#mu, #git {
    margin-left: 20px;
}
    
#menu > li {
        padding-left: 1rem;
        display:inline-block;
    }

#photos {
        column-count: 2;
        column-gap: 0;
    }

}
    
 
/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 760px) {
    /* Header */
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }
 
    #menu {
        display: flex;
    }
 
    #menu > li {
        padding-left: 1rem;
        font-size: 80%;
    }
 
    .nav-toggle-label {
        display: none;
    }
 
    #logo {
        font-size: 280%;
        line-height: 75px;
        margin: 0 0.5rem;
    }
    
    /* Gallery */
      #photos {
        column-count: 3;
    }
 
   
 
    /* Main content */
    main {
        /* Push main content down to accommodate larger header */
        margin-top: 79px;
    }
 
}
 
/* Large devices (laptops and desktops, 992px and up) */
@media screen and (min-width: 992px) {
 
/* Gallery */
    #photos {
        column-count: 4;
    }
}
 
@media screen and (min-width: 1200px) {    
    
}